<header class="hd mw">
  <nav class="nav">
    <h1 class="nav_title">여행기록</h1>
    <div class="menu">
      <a class="on" href="/">여행 목록 보기</a>
      <a href="/write">여행 기록하기</a>
    </div>
  </nav>
</header>
