<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/my_reset.css" />
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/sub_page.css" />
    <title>여행기록</title>
  </head>
  <body>
    <%- include('header.ejs') %>

    <main class="mw">
      <section class="banner">
        <span>새 여행 기록</span>
        <i class="fa-solid fa-plus"></i>
      </section>
      <form action="/add" method="post">
        <div>
          <label for="photo">이미지</label>
          <input
            type="file"
            id="photo"
            name="photo"
            accept=".png, .jpg, .jpeg"
          />
        </div>
        <div>
          <label for="title">제목</label>
          <input type="text" id="title" name="title" maxlength="26" required />
        </div>
        <div>
          <label for="category">분류</label>
          <select name="category" id="category">
            <option value="all">전체</option>
            <option value="korea">국내</option>
            <option value="global">해외</option>
          </select>
        </div>
        <div>
          <label for="country">장소</label>
          <input
            type="text"
            id="country"
            name="country"
            maxlength="16"
            placeholder="ex 영국 런던"
            required
          />
        </div>
        <div>
          <label for="date">날짜</label>
          <input type="date" id="date" name="date" required />
        </div>
        <div>
          <label for="descript">내용 </label>
          <textarea
            name="descript"
            id="descript"
            cols="30"
            rows="10"
            maxlength="200"
          ></textarea>
        </div>
        <input type="submit" id="submit" value="저장하기" />
      </form>
    </main>
  </body>
</html>
